.Works__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8rem;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .Works__content {
    flex-direction: column;
  }
}

.Works__body {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Works__body iframe {
  width: 100%;
  height: 500px;  /* Ajusta el tamaño del video */
  border: none;
}

.Works__body > div {
  height: 500px; /* Asegura que el tamaño del texto sea similar al del video */
  overflow: auto;
}

.Works__lead {
  font-weight: bold;
  font-size: 2.4rem; /* Ajusta el tamaño del texto aquí si es necesario */
}
