.Contents {
  padding-top: 4rem;
  overflow: hidden;
  /* Oculta contenido que se salga del contenedor */
}

.Contents__head {
  font-size: 12rem;
  font-family: 'Fredericka the Great', cursive;
  position: relative;
  display: inline-block;
  margin-bottom: 6rem;
  transform: translateX(-14.375rem);
 /* Mueve el elemento 70px hacia la derecha */
 text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

.Contents__head2 {
  font-size: 12rem;
  font-family: 'Fredericka the Great', cursive;
  position: relative;
  display: inline-block;
  margin-bottom: 8rem;
  transform: translateX(5rem);
 /* Mueve el elemento 70px hacia la derecha */
}

@media (max-width: 780px) {
  .Contents {
    width: 100%;
    overflow: hidden;
    /* Oculta contenido que se salga del contenedor */
  }
  .Contents__head {
    font-size: 6rem;
    transform: translateX(0rem); /* Mueve el elemento 70px hacia la derecha */
    margin-top:0rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* Sombra suave */
  }
  .content_movil{
    font-size:4rem;
  }
}

.Contents__head::after {
  content: "";
  height: .1rem;
  display: block;
  background-color: #000;
  width: calc(100% + 50vw);
  position: absolute;
  right: 0;
  left: -50vw;
  bottom: 0;
}



/* Estilo general para el div */
.content-expanded {
  font-size: 2rem;
  /* Establece un tamaño base para el texto */
  line-height: 1.6;
  /* Mayor altura de línea para mejorar la legibilidad */
  font-family: 'Arial', sans-serif;
  /* Fuente clara y moderna (opcional) */
  margin-bottom: 2rem;
  /* Espacio inferior entre párrafos */
  word-wrap: break-word;
  /* Permite que las palabras largas se ajusten en la siguiente línea */
  overflow-wrap: break-word;
  /* Asegura que no se corten las palabras */
  
  
}

/* Aumentar el tamaño del h4 */
.content-expanded h4 {
  font-size: 3rem;
  /* Aumentar el tamaño del título */
  font-weight: bold;
  /* Hacer el texto en negrita */
  margin-bottom: 1rem;
  /* Espacio debajo del título */
  text-shadow: 7px 8px 9px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

/* Estilos para los párrafos */
.content-expanded p {
  font-size: 2.3rem;
  /* Agrandar el texto de los párrafos */
  margin-bottom: 1rem;
  /* Separación entre párrafos */
  color: #333;
  /* Color más oscuro para los párrafos */
  word-wrap: break-word;
  /* Permite que las palabras largas se ajusten en la siguiente línea */
  overflow-wrap: break-word;
  /* Asegura que no se corten las palabras */
  
}

/* Estilo para el texto en cursiva dentro del párrafo */
.content-expanded em {
  font-style: italic;
  font-weight: normal;
  /* Cambia el peso de la cursiva para diferenciarla */
}

/* Aumentar el tamaño del texto en pantallas más grandes */
@media (max-width: 780px) {
  .content-expanded {
    font-size: 1.4rem;
    /* Aumentar tamaño base */
    

  }

  .content-expanded h4 {
    font-size: 2.5rem;
    /* Aumentar aún más el tamaño del título */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Sombra suave */

  }

  .content-expanded p {
    font-size: 2rem;
    /* Agrandar los párrafos */
  }
  
  
}

/* Estilo específico para el span dentro de .content-expanded */
.content-expanded span {
  font-size: 2.3rem;
  /* Aumentar el tamaño del span */
  font-weight: bold;
  /* Hacer el texto en negrita si lo deseas */
  color: #333;
  /* Establecer el color, puedes personalizarlo */
  word-break: keep-all;
  /* Evita romper palabras */
  overflow-wrap: normal;
  /* Respeta las palabras largas */
  hyphens: none;
  /* Evita guiones automáticos */
}

/*# sourceMappingURL=contents.css.map */

.castle-image {
  
  width: 100%; /* Ajusta el ancho de la imagen */
  height: 44.5rem; /* Mantiene la proporción de la imagen */
  margin-top: 1rem; /* Añade un margen superior para separar la imagen del texto */
  border-radius: 0.7rem; /* Añade bordes redondeados a la imagen */
  box-shadow: 30px 30px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); /* Sombra decorativa */
}

.bosque-image {
  width: 90%; /* Ajusta el ancho de la imagen */
  height: 44.5rem; /* Mantiene la proporción de la imagen */
  margin-top: 1rem; /* Añade un margen superior para separar la imagen del texto */
  border-radius: 0.7rem; /* Añade bordes redondeados a la imagen */
  box-shadow: 30px 30px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); /* Sombra decorativa */
}

.bosque-hielo {
  width: 99%; /* Ajusta el ancho de la imagen */
  height: 44rem; /* Mantiene la proporción de la imagen */
  margin-top: 1rem; /* Añade un margen superior para separar la imagen del texto */
  border-radius: 0.7rem;/* Añade bordes redondeados a la imagen */
  box-shadow: 30px 30px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); /* Sombra decorativa */
}

.nube1{
  width: 94%; /* Ajusta el ancho de la imagen */
  height: 44rem; /* Mantiene la proporción de la imagen */
  margin-top: 1rem; /* Añade un margen superior para separar la imagen del texto */
  border-radius: 0.7rem;/* Añade bordes redondeados a la imagen */
  box-shadow: 30px 30px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); /* Sombra decorativa */
}

.nube2{
  width: 94%; /* Ajusta el ancho de la imagen */
  height: 44rem; /* Mantiene la proporción de la imagen */
  margin-top: 1rem; /* Añade un margen superior para separar la imagen del texto */
  border-radius: 0.7rem;/* Añade bordes redondeados a la imagen */
  box-shadow: 30px 30px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); /* Sombra decorativa */
}

.castillo{
  width: 100%; /* Ajusta el ancho de la imagen */
  height: 44rem; /* Mantiene la proporción de la imagen */
  margin-top: 1rem; /* Añade un margen superior para separar la imagen del texto */
  border-radius: 0.7rem;/* Añade bordes redondeados a la imagen */
  box-shadow: 30px 30px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); /* Sombra decorativa */
}

.anime{
  width: 89%; /* Ajusta el ancho de la imagen */
  height: 44rem; /* Mantiene la proporción de la imagen */
  margin-top: 1rem; /* Añade un margen superior para separar la imagen del texto */
  border-radius: 0.7rem;/* Añade bordes redondeados a la imagen */
  box-shadow: 30px 30px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); /* Sombra decorativa */
}

.text-content {
  
  padding: 0rem; /* Ajusta el padding según sea necesario */
  margin-bottom: 2rem; /* Ajusta el margen inferior según sea necesario */
  color: #333; /* Color del texto */
  font-size: 1.6rem; /* Tamaño de la fuente */
  line-height: 1.5; /* Altura de línea */
}

@media (max-width: 780px) {
  .fadein.left {
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    opacity: 1 !important;
  }
}
