.hamburger-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem; /* Cambiado de left a right para alinearlo al lado derecho */
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #1b1b1b2f;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-toggle:hover {
    background-color: #1b1b1b2f;
}

.hamburger-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Aumenta el ancho */
    max-height: 50%; /* Ajusta la altura máxima */
    background-color: rgba(51, 51, 51, 0.8); /* Medio transparente */
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto; /* Añade scroll si el contenido excede la altura máxima */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.hamburger-menu.open {
    transform: translateX(0);
    display: block; /* Asegura que el menú se muestre cuando esté abierto */
}

.hamburger-menu ul {
    list-style: none;
    padding: 0;
}

.hamburger-menu ul li {
    margin: 20px 0;
}

.hamburger-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Responsive Design */
@media (max-width: 780px) {
    .hamburger-toggle {
        top: 1rem;
        right: 1rem; /* Mantiene la posición en pantallas más pequeñas */
        background-color: #1b1b1b2f;
        border: none;
        cursor: pointer;
        z-index: 1000;
    }

    .hamburger-toggle img {
        width: 24px;
        height: 20px;
    }
    .menu-title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 0; /* Asegura que no haya margen superior */
        
    }

    .hamburger-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 28rem;
        height: 100%;
        background-color: rgba(77, 76, 76, 0.808); /* Medio transparente */
        color: white;
        padding: 20px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 999;
        max-height: 32rem;
    }

    .hamburger-menu ul {
        list-style: none;
        padding: 0;
    }

    .hamburger-menu ul li {
        margin: 16px 0;
    }

    .hamburger-menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
}

@media (min-width: 780px) {
    .hamburger-toggle,
    .hamburger-menu {
        display: none;
    }
}
