.Works__content {
  display: flex; /* Mantiene el uso de flexbox */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  margin-bottom: 18.75rem; /* Mantiene el margen inferior */
  flex-wrap: wrap; /* Permite que el contenido se ajuste en múltiples líneas si es necesario */
  transform: scale(1.2);
  margin-top:5rem;
}


@media (max-width: 780px) {
  .Works__content {

    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-flow: row wrap-reverse;
    flex-flow: row wrap-reverse;
    transform: scale(1.0);
    margin-bottom: 10rem;
    margin-top:0rem;
  }
}

.Works__body {
  display: flex;
  flex-direction: row; /* Lado a lado en pantallas grandes */
  justify-content: space-between;
  gap: 1.25rem;

  
}

@media (max-width: 780px) {
  .Works__body {
      flex-direction: column; /* Apilar elementos en pantallas pequeñas */
      align-items: center;
  }
}

.Works__body p {
  word-break: keep-all;
  /* Evita romper palabras */
  overflow-wrap: normal;
  /* Respeta las palabras largas */
  hyphens: none;
  /* Evita guiones automáticos */
}

.Works__lead {
  font-weight: bold;
  font-size: 6.4rem;
  text-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
  
}
@media (max-width: 780px) {
  .Works__lead {
  margin-top: -5rem;
  font-size: 4rem;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5); /* Sombra suave */
}
}

.video-container {
  margin:0 auto;
  position: relative;
  width: 100%; /* El contenedor ocupa todo el ancho disponible */
  padding-bottom: 56.25%; /* Altura calculada para una relación de aspecto 16:9 */
  height: 0; /* El truco es establecer la altura en 0 */
  overflow: hidden;
  margin-top: 2rem; /* Ajusta este valor según sea necesario */
  margin-left:20rem;
  border-radius: 3rem; /* Redondeo opcional */
  
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* El iframe ocupa todo el ancho del contenedor */
  height: 100%; /* El iframe ocupa todo el alto del contenedor */
  border: none; /* Elimina bordes */
}

.video-right {
  margin-left: 11rem; /* Añade un margen izquierdo para separar el video del texto */
  width: 100%; /* Ajusta el ancho del video */
  margin-right: 2rem;
}

@media (max-width: 780px) {
  .video-right {
    margin-left: 0; /* Restablece el margen izquierdo en pantallas pequeñas */
    width: 100%; /* Asegura que el video ocupe todo el ancho disponible en pantallas pequeñas */
    margin-right:0;
  }
}


@media (max-width: 780px) {

  .video-container {
    width: 100%; /* No se necesita conversión */
    padding-bottom: 50rem;
    margin-top: 0rem;
    margin-bottom: -10rem;
    margin-left: 0rem;
    
}

  .Works__content iframe {
    display: flex;
    /* Elimina cualquier margen izquierdo */
    padding-left: 0rem;
    /* Asegura que no haya espacio interno */
    width: 100%;
    /* Haz que ocupe todo el ancho disponible */
  }
}

.Works__img {
  z-index: 1;
  width: 100%;
  height: 0;
  padding-top: 62.5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 780px) {
  .Works__img {
    margin-bottom: 4rem;
  }
}

.is-active .Works__img::after {
  opacity: 1;
  -webkit-transform: translateX(2rem) translateY(2rem);
  transform: translateX(2rem) translateY(2rem);
}

.Works__img::after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.Works__img--coderdocs {
  background-image: url("../images/code_docs.png");
}

.Works__img--coderdocs::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd9b), to(#f3aa82));
  background-image: linear-gradient(to right, #fbbd9b 0%, #f3aa82 100%);
}

.Works__img--annotate {
  background-image: url("../images/annotating-bar.png");
}

.Works__img--annotate::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#525252), to(#9d9d9d));
  background-image: linear-gradient(to right, #525252 0%, #9d9d9d 100%);
}

.Works__img--andante {
  background-image: url("../images/anndante.png");
}

.Works__img--andante::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#3d484e), to(#163043));
  background-image: linear-gradient(to right, #3d484e 0%, #163043 100%);
}

.Works__reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@media (max-width: 780px) {
  .Works__reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.Works__reverse .Works__img-wrapper {
  -webkit-transform: translateX(-4rem);
  transform: translateX(-4rem);
}

@media (max-width: 780px) {
  .Works__reverse .Works__img-wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.Works__reverse .Works__body {
  -webkit-transform: translateX(2rem);
  transform: translateX(2rem);
}

@media (max-width: 780px) {
  .Works__reverse .Works__body {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.js-rotate-img {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
@media(max-width: 780px){
  .elemento{
    display: none;
  }
}
