.Works__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8rem;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .Works__content {
    flex-direction: column; /* Poner los elementos en columna en pantallas pequeñas */
  }
}

.Works__body {
  width: 48%;  /* Ajusta el ancho para que el texto y video ocupen 48% cada uno */
}

@media (max-width: 780px) {
  .Works__body {
    width: 100%; /* En pantallas pequeñas, se ocuparán todo el ancho */
  }
}

.Works__img-wrapper {
  width: 48%;  /* Lo mismo aquí para que la imagen ocupe el mismo espacio */
}

@media (max-width: 780px) {
  .Works__img-wrapper {
    width: 100%; /* En pantallas pequeñas, la imagen ocupa todo el ancho */
  }
}

.Works__reverse {
  flex-direction: row-reverse;
}

@media (max-width: 780px) {
  .Works__reverse {
    flex-direction: row; /* Asegura la dirección en móviles */
  }
}
